/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 1023px) {
    body.cs-open {
        overflow: hidden;
    }

    body.scroll #cs-navigation {
        /* 53px, same height as the cs-top-container */
        transform: translateY(-3.3125rem);
    }

    #cs-navigation {
        width: 100%;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: fixed;
        z-index: 10000;
        transition: transform .3s;
    }

    #cs-navigation:before {
        content: '';
        width: 100%;
        height: 0vh;
        background: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        position: absolute;
        display: block;
        top: 100%;
        right: 0;
        z-index: -1100;
        opacity: 0;
        transition: height .5s, opacity .5s;
    }

    #cs-navigation.cs-active:before {
        height: 150vh;
        opacity: 1;
    }

    #cs-navigation.cs-active .cs-ul-wrapper {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: .15s;
    }

    #cs-navigation.cs-active .cs-li {
        transform: translateY(0);
        opacity: 1;
    }

    #cs-navigation .cs-top-bar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #cs-navigation .cs-top-container {
        width: 100%;
        padding: 1rem 1.5rem;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        background-color: #f7f7f7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    #cs-navigation .cs-top-contact {
        width: auto;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        /* 16px - 24px */
        gap: clamp(1rem, 2vw, 1.5rem);
    }

    #cs-navigation .cs-top-link {
        font-size: 0.875rem;
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: var(--bodyTextColor);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        position: relative;
    }

    #cs-navigation .cs-top-link:nth-of-type(2) {
        display: none;
    }

    #cs-navigation .cs-link-icon {
        width: 1rem;
        height: auto;
        display: block;
    }

    #cs-navigation .cs-top-social {
        visibility: visible;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        transition: opacity .3s, visibility .3s, height .3s;
    }

    #cs-navigation .cs-social-link {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    #cs-navigation .cs-social-icon {
        width: 1.25rem;
        height: auto;
        display: block;
    }

    #cs-navigation .cs-container {
        width: 100%;
        padding: 1.25rem 1rem;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }

    #cs-navigation .cs-logo {
        width: auto;
        height: 2.5rem;
        margin: 0 auto 0 0;
        padding: 0;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 1;
        z-index: 10;
    }

    #cs-navigation .cs-logo img {
        width: 175px;
        height: 70px;
        /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
        object-fit: contain;
    }

    #cs-navigation .cs-nav {
        order: 2;
    }

    #cs-navigation .cs-toggle {
        width: 2.875rem;
        height: 2.875rem;
        margin: 0 0 0 auto;
        background-color: var(--primary);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform .6s;
    }

    #cs-navigation .cs-toggle.cs-active {
        transform: rotate(180deg);
    }

    #cs-navigation .cs-active .cs-line1 {
        top: 50%;
        transform: translate(-50%, -50%) rotate(225deg);
    }

    #cs-navigation .cs-active .cs-line2 {
        top: 50%;
        transform-origin: center;
        transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
    }

    #cs-navigation .cs-active .cs-line3 {
        bottom: 100%;
        opacity: 0;
    }

    #cs-navigation .cs-box {
        /* 24px - 28px */
        width: clamp(1.5rem, 2vw, 1.75rem);
        height: 1rem;
        position: relative;
    }

    #cs-navigation .cs-line {
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: #FAFBFC;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    #cs-navigation .cs-line1 {
        top: 0;
        transform-origin: center;
        transition: transform .5s, top .3S, left .3S;
        animation-duration: .7s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }

    #cs-navigation .cs-line2 {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: top .3s, left .3s, transform .5s;
        animation-duration: .7s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }

    #cs-navigation .cs-line3 {
        bottom: 0;
        transition: bottom .3s, opacity .3s;
    }

    #cs-navigation .cs-ul-wrapper {
        width: 100%;
        height: auto;
        padding-bottom: 3rem;
        opacity: 0;
        background-color: #fff;
        box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: -1;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform .4s, opacity .3s;
    }

    #cs-navigation .cs-ul {
        margin: 0;
        padding: 3rem 0 0 0;
        width: 100%;
        height: auto;
        max-height: 65vh;
        overflow: scroll;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }

    #cs-navigation .cs-li {
        width: 100%;
        text-align: center;
        list-style: none;
        margin-right: 0;
        /* transition from these values */
        transform: translateY(-4.375rem);
        opacity: 0;
        transition: transform .6s, opacity .9s;
    }

    #cs-navigation .cs-li:nth-of-type(1) {
        transition-delay: .05s;
    }

    #cs-navigation .cs-li:nth-of-type(2) {
        transition-delay: .1s;
    }

    #cs-navigation .cs-li:nth-of-type(3) {
        transition-delay: .15s;
    }

    #cs-navigation .cs-li:nth-of-type(4) {
        transition-delay: .2s;
    }

    #cs-navigation .cs-li:nth-of-type(5) {
        transition-delay: .25s;
    }

    #cs-navigation .cs-li:nth-of-type(6) {
        transition-delay: .3s;
    }

    #cs-navigation .cs-li:nth-of-type(7) {
        transition-delay: .35s;
    }

    #cs-navigation .cs-li:nth-of-type(8) {
        transition-delay: .4s;
    }

    #cs-navigation .cs-li:nth-of-type(9) {
        transition-delay: .45s;
    }

    #cs-navigation .cs-li:nth-of-type(10) {
        transition-delay: .5s;
    }

    #cs-navigation .cs-li:nth-of-type(11) {
        transition-delay: .55s;
    }

    #cs-navigation .cs-li:nth-of-type(12) {
        transition-delay: .6s;
    }

    #cs-navigation .cs-li:nth-of-type(13) {
        transition-delay: .65s;
    }

    #cs-navigation .cs-li-link {
        /* 16px - 24px */
        font-size: clamp(1rem, 2.5vw, 1.5rem);
        line-height: 1.2em;
        text-decoration: none;
        margin: 0;
        color: var(--headerColor);
        display: inline-block;
        position: relative;
    }

    #cs-navigation .cs-li-link.cs-active {
        color: var(--primary);
    }

    #cs-navigation .cs-li-link:hover {
        color: var(--primary);
    }

    #cs-navigation .cs-button-solid {
        display: none;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-navigation .cs-top-link:nth-of-type(2) {
        display: flex;
    }
}

/*-- -------------------------- -->
  <---     Navigation Dropdown    -->
  <--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 1023px) {
    #cs-navigation .cs-li {
        text-align: center;
        width: 100%;
        display: block;
    }

    #cs-navigation .cs-dropdown {
        position: relative;
        color: var(--bodyTextColorWhite);
    }

    #cs-navigation .cs-dropdown.cs-active .cs-drop-ul {
        height: auto;
        opacity: 1;
        visibility: visible;
        margin: 0.75rem 0 0 0;
        padding: 0.75rem 0;
    }

    #cs-navigation .cs-dropdown.cs-active .cs-drop-link {
        opacity: 1;
    }

    #cs-navigation .cs-dropdown .cs-li-link {
        position: relative;
        transition: opacity .3s;
    }

    #cs-navigation .cs-drop-icon {
        width: 0.9375rem;
        height: auto;
        position: absolute;
        top: 50%;
        right: -1.25rem;
        transform: translateY(-50%);
    }

    #cs-navigation .cs-drop-ul {
        width: 100%;
        height: 0;
        margin: 0;
        padding: 0;
        background-color: var(--primary);
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;
        transition: padding .3s, margin .3s, height .3s, opacity .3s, visibility .3s;
    }

    #cs-navigation .cs-drop-li {
        list-style: none;
    }

    #cs-navigation .cs-li-link.cs-drop-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 2vw, 1.25rem);
        color: #fff;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation .cs-dropdown {
        position: relative;
    }

    #cs-navigation .cs-dropdown:hover {
        cursor: pointer;
    }

    #cs-navigation .cs-dropdown:hover .cs-drop-ul {
        transform: scaleY(1);
        opacity: 1;
        visibility: visible;
    }

    #cs-navigation .cs-dropdown:hover .cs-drop-li {
        opacity: 1;
        transform: translateY(0);
    }

    #cs-navigation .cs-drop-icon {
        width: 0.75rem;
        height: auto;
        margin-left: 0.25rem;
        display: inline-block;
    }

    #cs-navigation .cs-drop-ul {
        min-width: 12.5rem;
        margin: 0;
        padding: 0;
        background-color: #fff;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
        border-bottom: 5px solid var(--primary);
        /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
        position: absolute;
        top: 100%;
        z-index: -100;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform .3s, visibility .3s, opacity .3s;
    }

    #cs-navigation .cs-drop-li {
        list-style: none;
        font-size: 1rem;
        text-decoration: none;
        opacity: 0;
        width: 100%;
        height: auto;
        display: block;
        transform: translateY(-0.625rem);
        transition: opacity .6s, transform .6s;
    }

    #cs-navigation .cs-drop-li:nth-of-type(1) {
        transition-delay: .05s;
    }

    #cs-navigation .cs-drop-li:nth-of-type(2) {
        transition-delay: .1s;
    }

    #cs-navigation .cs-drop-li:nth-of-type(3) {
        transition-delay: .15s;
    }

    #cs-navigation .cs-drop-li:nth-of-type(4) {
        transition-delay: .2s;
    }

    #cs-navigation .cs-drop-li:nth-of-type(5) {
        transition-delay: .25s;
    }

    #cs-navigation .cs-drop-li:nth-of-type(6) {
        transition-delay: .3s;
    }

    #cs-navigation .cs-drop-li:nth-of-type(7) {
        transition-delay: .35s;
    }

    #cs-navigation .cs-drop-li:nth-of-type(8) {
        transition-delay: .4s;
    }

    #cs-navigation .cs-drop-li:nth-of-type(9) {
        transition-delay: .45s;
    }

    #cs-navigation .cs-drop-li:nth-of-type(10) {
        transition-delay: .5s;
    }

    #cs-navigation .cs-drop-li:nth-of-type(11) {
        transition-delay: .55s;
    }

    #cs-navigation .cs-drop-li:nth-of-type(12) {
        transition-delay: .6s;
    }

    #cs-navigation .cs-drop-li:nth-of-type(13) {
        transition-delay: .65s;
    }

    #cs-navigation .cs-li-link.cs-drop-link {
        font-size: 1rem;
        white-space: nowrap;
        line-height: 1.5em;
        text-decoration: none;
        width: 100%;
        padding: 0.75rem;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        color: var(--bodyTextColor);
        display: block;
        transition: color 0.3s, background-color 0.3s;
    }

    #cs-navigation .cs-li-link.cs-drop-link:hover {
        color: var(--primary);
        background-color: #f7f7f7;
    }

    #cs-navigation .cs-li-link.cs-drop-link:before {
        display: none;
    }
}

/*-- -------------------------- -->
  <---     Desktop Navigation     -->
  <--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    body.scroll #cs-navigation {
        /* 53px, the ssme height as the cs-top-container */
        transform: translateY(-3.3125rem);
    }

    #cs-navigation {
        width: 100%;
        padding: 0;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: fixed;
        z-index: 10000;
        transition: transform .3s;
    }

    #cs-navigation .cs-top-bar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #cs-navigation .cs-top-container {
        width: 100%;
        max-width: 80rem;
        padding: 1rem;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3.125rem;
        position: relative;
        z-index: 1;
    }

    #cs-navigation .cs-top-container:before {
        /* grey background */
        content: '';
        width: 100vw;
        height: 100%;
        background: #f7f7f7;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 50%;
        z-index: -1;
        transform: translateX(-50%);
    }

    #cs-navigation .cs-top-contact {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;
    }

    #cs-navigation .cs-top-link {
        font-size: 0.875rem;
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: var(--bodyTextColor);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        position: relative;
    }

    #cs-navigation .cs-top-link:hover {
        text-decoration: underline;
    }

    #cs-navigation .cs-link-icon {
        width: 1rem;
        height: auto;
        display: block;
    }

    #cs-navigation .cs-top-social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    #cs-navigation .cs-social-link {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform .3s;
    }

    #cs-navigation .cs-social-link:hover {
        transform: scale(1.1);
    }

    #cs-navigation .cs-social-icon {
        width: 1.25rem;
        height: auto;
        display: block;
    }

    #cs-navigation .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        padding: 0 1rem;
        /* prevents padding from affectin gheight */
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
        position: relative;
    }

    #cs-navigation .cs-toggle {
        display: none;
    }

    #cs-navigation .cs-logo {
        /* 40px - 44px */
        height: clamp(2.5rem, 4vw, 2.75rem);
        /* margin-right auto pushes everything away from it to the right */
        margin: 0 auto 0 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }

    #cs-navigation .cs-logo img {
        width: 175px;
        height: 70px;
        /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
        object-fit: contain;
    }

    #cs-navigation .cs-ul {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
    }

    #cs-navigation .cs-li {
        list-style: none;
        padding: 1.9375rem 0;
        /* prevent flexbox from squishing it */
        flex: none;
    }

    #cs-navigation .cs-li-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.3vw, 1rem);
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: var(--headerColor);
        display: block;
        position: relative;
        transition: color .3s;
    }

    #cs-navigation .cs-li-link:hover {
        color: var(--primary);
    }

    #cs-navigation .cs-li-link.cs-active {
        font-weight: 700;
        color: var(--headerColor);
    }

    #cs-navigation .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        padding: 0 2rem;
        background-color: var(--primary);
        overflow: hidden;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        transition: color .3s;
    }

    #cs-navigation .cs-button-solid:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 0%;
        background: #1a1a1a;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width .3s;
    }

    #cs-navigation .cs-button-solid:hover:before {
        width: 100%;
    }

    #cs-navigation .cs-nav-button {
        line-height: 2.875rem;
        margin-left: 1.5rem;
    }
}


/* -------------------------------------- */
/* Nina */
.button--nina {
    padding: 0 2em;
    background: #7986cb;
    color: #fff;
    overflow: hidden;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.button--nina.button--inverted {
    background: #fff;
    color: #7986cb;
}

.button--nina>span {
    display: inline-block;
    padding: 1em 0;
    opacity: 0;
    color: #fff;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--nina::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--nina:hover {
    background-color: #3f51b5;
}

.button--nina:hover::before {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.button--nina:hover>span {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.button--nina:hover>span:nth-child(1) {
    -webkit-transition-delay: 0.045s;
    transition-delay: 0.045s;
}

.button--nina:hover>span:nth-child(2) {
    -webkit-transition-delay: 0.09s;
    transition-delay: 0.09s;
}

.button--nina:hover>span:nth-child(3) {
    -webkit-transition-delay: 0.135s;
    transition-delay: 0.135s;
}

.button--nina:hover>span:nth-child(4) {
    -webkit-transition-delay: 0.18s;
    transition-delay: 0.18s;
}

.button--nina:hover>span:nth-child(5) {
    -webkit-transition-delay: 0.225s;
    transition-delay: 0.225s;
}

.button--nina:hover>span:nth-child(6) {
    -webkit-transition-delay: 0.27s;
    transition-delay: 0.27s;
}

.button--nina:hover>span:nth-child(7) {
    -webkit-transition-delay: 0.315s;
    transition-delay: 0.315s;
}

.button--nina:hover>span:nth-child(8) {
    -webkit-transition-delay: 0.36s;
    transition-delay: 0.36s;
}

.button--nina:hover>span:nth-child(9) {
    -webkit-transition-delay: 0.405s;
    transition-delay: 0.405s;
}

.button--nina:hover>span:nth-child(10) {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
}

/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-408 {
        padding: var(--sectionPadding);
        /* 112px - 200px */
        padding-top: clamp(12.5rem, 15vw, 12.5rem);
        padding-right: 0;
    }

    #hero-408 .cs-container {
        width: 100%;
        /* changes to 100% at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* 36px - 100px */
        gap: clamp(2.25rem, 10vw, 6.25rem);
    }

    #hero-408 .cs-content {
        max-width: 39.375rem;
        padding-right: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    #hero-408 .cs-title {
        /* 31px - 61px */
        font-size: clamp(1.9375rem, 4vw, 3.5125rem);
        font-weight: 900;
        line-height: 1.2em;
        text-align: left;
        max-width: 43.75rem;
        /* 12px - 24px */
        color: var(--headerColor);
        position: relative;
        width: 100%;
    }

    #hero-408 .cs-title span {
        display: block;
    }

    #hero-408 .cs-subtext {
        font-size: clamp(1rem, 1.9vw, 1.2625rem);
        margin: 0;
    }

    #hero-408 .cs-color {
        color: var(--primary);
        display: block;
    }

    #hero-408 .cs-text {
        /* 16px - 25px */
        font-size: clamp(1rem, 2vw, 1.5625rem);
        line-height: 1.5em;
        text-align: left;
        width: 100%;
        max-width: 40.625rem;
        margin: 0;
        /* 24px - 40px */
        margin-bottom: clamp(1.5rem, 4.2vw, 3rem);
        color: var(--bodyTextColor);
    }

    #hero-408 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        margin-right: 1.5rem;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        border: 2px solid var(--primary);
    }

    #hero-408 .cs-button-solid:hover {
        border: 2px solid #000;
    }

    #hero-408 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }

    #hero-408 .cs-button-solid:hover:before {
        width: 102%;
        margin-left: -1px;
    }

    #hero-408 .cs-button-transparent {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: var(--primary);
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: transparent;
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        transition:
            background-color 0.3s,
            color 0.3s;
        border: 2px solid var(--primary);
    }

    #hero-408 .cs-button-transparent:hover {
        background-color: var(--primary);
        color: #fff;
    }

    #hero-408 .cs-header {
        /* 14px - 20px */
        font-size: clamp(0.875rem, 1.5vw, 1.25rem);
        line-height: 1.5em;
        /* 40px - 100px */
        margin: clamp(2.5rem, 5vw, 6.25rem) 0 0.75rem 0;
        width: 100%;
        color: var(--bodyTextColor);
        display: block;
    }

    #hero-408 .cs-logo-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: clamp(2.5rem, 5vw, 6.25rem) 0 0.75rem 0;
    }

    #hero-408 .cs-logo {
        width: auto;
        /* 18px - 32px */
        height: clamp(1.75rem, 1.5vw, 2rem);
        filter: grayscale(1);
    }

    #hero-408 .cs-logo:nth-child(1),
    #hero-408 .cs-logo:nth-child(3) {
        height: clamp(2.25rem, 2vw, 2.5rem);
    }

    #hero-408 .cs-stat-group {
        width: 100%;
        border-radius: 1.25rem 0 0 1.25rem;
        aspect-ratio: 0.92696629;
        /* clips the corners around the border radius */
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: nowrap;
        position: relative;
        z-index: 1;
    }

    #hero-408 .cs-stat-box {
        width: 50%;
        /* changes at tablet */
        height: 9.125rem;
        /* 24px - 48px */
        padding: clamp(1.5rem, 3vw, 3rem);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #hero-408 .cs-stat-box:nth-of-type(1) {
        background-color: rgba(161, 6, 0, 0.8);
    }

    #hero-408 .cs-stat-box:nth-of-type(2) {
        background-color: rgba(244, 67, 54, 0.8);
    }

    #hero-408 .cs-stat {
        /* 25px - 61px */
        font-size: clamp(1.5625rem, 3.5vw, 3.8125rem);
        line-height: 1.2em;
        text-align: left;
        margin: 0;
        display: block;
    }

    #hero-408 .cs-desc {
        /* 14px - 20px */
        font-size: clamp(0.875rem, 1.6vw, 1.25rem);
        line-height: 1.2em;
        margin: 0.25rem 0 0 0;
        display: block;
    }

    #hero-408 .cs-background {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
    }

    #hero-408 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-408 {
        padding-right: 0;
    }

    #hero-408 .cs-container {
        max-width: 100%;
        flex-direction: row;
        justify-content: flex-end;
    }

    #hero-408 .cs-content {
        width: 45%;
        padding: 0;
    }

    #hero-408 .cs-stat-group {
        width: 45%;
        max-height: 46.0625rem;
        aspect-ratio: 0.92647059;
        flex: none;
    }

    #hero-408 .cs-stat-box {
        /* 126px - 221px */
        height: clamp(7.875rem, 18vw, 13.8125rem);
    }
}

/*-- -------------------------- -->
<---         Why Choose         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-892 {
        /* Centers Button */
        text-align: center;
        padding: var(--sectionPadding);
        /* prevents the arrow from causing an overflow */
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    #why-choose-892 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
        position: relative;
    }

    #why-choose-892 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #why-choose-892 .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
    }

    #why-choose-892 .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }

    #why-choose-892 .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        margin: 0;
        color: var(--bodyTextColor);
    }

    #why-choose-892 .cs-text {
        max-width: 62.5rem;
    }

    #why-choose-892 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }

    #why-choose-892 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }

    #why-choose-892 .cs-button-solid:hover:before {
        width: 100%;
    }

    #why-choose-892 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        /* 16px - 20px */
        gap: clamp(1rem, 2vw, 1.25rem);
    }

    #why-choose-892 .cs-item {
        width: 100%;
        text-align: left;
        list-style: none;
        /* 20px - 32px */
        padding: clamp(1.25rem, 2.3vw, 2rem);
        background-color: #f5f5f5;
        border-radius: 1rem;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        grid-column: span 6;
        position: relative;
        z-index: 1;
    }

    #why-choose-892 .cs-icon {
        width: 3rem;
        height: auto;
        margin: 0 0 1.25rem 0;
        display: block;
    }

    #why-choose-892 .cs-h3 {
        font-size: 1.25rem;
        line-height: 1.5em;
        margin: 0 0 0.75rem 0;
        color: var(--headerColor);
        transition: color 0.3s;
    }

    #why-choose-892 .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
        transition: color 0.3s;
    }

    #why-choose-892 .cs-floater {
        width: 21.9375rem;
        height: auto;
        display: none;
        position: absolute;
        top: -13.75rem;
        right: -3.75rem;
        transform: rotate(-66deg);
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-892 .cs-container {
        max-width: 80rem;
    }

    #why-choose-892 .cs-item {
        grid-column: span 2;
    }

    #why-choose-892 .cs-floater {
        display: block;
    }
}